# Database Configuration
DATABASE_TYPE=postgres
DATABASE_HOST=your_database_host
DATABASE_PORT=5432
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=your_database_name

# JWT Authentication
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600s

# Cloudinary Configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Mailer Configuration
MAIL_HOST=your_mail_host
MAIL_PORT=587
MAIL_USER=your_mail_user
MAIL_PASSWORD=your_mail_password
MAIL_FROM=no-reply@yourdomain.com

